<%= form_for(@desenhozinho) do |f| %>
  <% if @desenhozinho.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@desenhozinho.errors.count, "error") %> prohibited this desenhozinho from being saved:</h2>

      <ul>
      <% @desenhozinho.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NumDesenho_id %><br />
    <%= f.number_field :NumDesenho_id %>
  </div>
  <div class="field">
    <%= f.label :NomeDesenho %><br />
    <%= f.text_field :NomeDesenho %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
