<p id="notice"><%= notice %></p>

<p>
  <b>Numdesenho:</b>
  <%= @desenhozinho.NumDesenho_id %>
</p>

<p>
  <b>Nomedesenho:</b>
  <%= @desenhozinho.NomeDesenho %>
</p>


<%= link_to 'Edit', edit_desenhozinho_path(@desenhozinho) %> |
<%= link_to 'Back', desenhozinhos_path %>
